.section-padding {
    padding: 80px 0;
}

.section-title {
    & h2 {
        color: $primary-color;
        font-size: 40px;
        font-weight: 700;
        text-transform: capitalize;

        @include breakpoint-down(sm) {
            font-size: 28px;
        }
    }

    & span {
        color: $secondary-color;
    }
}

.section-description {
    color: $tertiary-color;
    margin-bottom: 60px;

    p {
        margin: 0;
    }

    @include breakpoint-down(sm) {
        font-size: 14px;
    }
}

.owl-carousel {
    & .owl-dots {
        padding: 0 15px;
        text-align: center;
        margin-top: 20px;
    }

    & button.owl-dot {
        height: 8px;
        width: 24px;
        background-color: #dddddd;
        display: inline-block;
        margin: 0 4px;
        border-radius: 5px;

        &.active {
            background-image: $gradient-secondary-color;
        }
    }
}